# Server properties, AM_ENC_KEY="" means generate random key
# todo: can SERVER_URL be localhost? We are using a LB site - so this should be OK
SERVER_URL=http://{{openam_fqdn}}:{{openam_server_port}}
DEPLOYMENT_URI=/openam
BASE_DIR={{install_root}}/openam
locale=en_US
PLATFORM_LOCALE=en_US
# We set a known AM_ENC_KEY value in case we want additional servers in the cluster
# AM_ENC_KEY=""
AM_ENC_KEY=AQICY6Za5J5noktyqnhW10JiPVNUdKuiZYwS
ADMIN_PWD={{amadmin_password}}
AMLDAPUSERPASSWD={{amldapuser_password}}
COOKIE_DOMAIN={{openam_cookie_domain}}
 
# Embedded configuration data store
# Note the port numbers are chosen so they dont collide with the
# user data store instance
DATA_STORE=embedded
DIRECTORY_SSL=SIMPLE
DIRECTORY_SERVER=localhost
DIRECTORY_PORT=50389
DIRECTORY_ADMIN_PORT=14444
DIRECTORY_JMX_PORT=11689
ROOT_SUFFIX=o=openam
DS_DIRMGRDN=cn=Directory Manager
DS_DIRMGRPASSWD={{amadmin_password}}
 
# External OpenDJ based user data store
USERSTORE_TYPE=LDAPv3ForOpenDS
USERSTORE_SSL=SIMPLE
#USERSTORE_DOMAINNAME=ad.example.com 
USERSTORE_HOST=localhost
USERSTORE_PORT=389
USERSTORE_SUFFIX={{opendj_basedn}}
USERSTORE_MGRDN=cn=Directory Manager
USERSTORE_PASSWD={{opendj_password}}
 
# Uncomment to specify the site for the first server in a site configuration
LB_SITE_NAME=lb
LB_PRIMARY_URL={{openam_site_url}}