# Note - We actually dont use this anymore - since Fedora comes with a tomcat systemd file
# See tomcat@openam.service 
[Unit]
Description=OpenAM 
After=remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart={{install_root}}/tomcat-openam/bin/startup.sh
ExecStop={{install_root}}/tomcat-openam/bin/shutdown.sh
User={{fr_user}}
Environment="JAVA_OPTS=-Djava.awt.headless=true -Xmx1024M -XX:MaxPermSize=256m"


[Install]
WantedBy=multi-user.target
