---
# This role installs common base pre-reqs for the ForgeRock stack using yum 
# For Fedora and Centos based images


- name: get epel-repo 
  get_url: dest=/tmp/epel-release.rpm  url="http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm"
#
- name: install epel-repo rpm
  yum: pkg=/tmp/epel-release.rpm state=installed

- name: Install required packages
  yum: name={{item}} state=latest
  environment:
    proxy_env
  with_items:
   - unzip
   - zip
   - gpg
   - java-1.7.0-openjdk-devel
   - python-pip
   - ldap-utils
   - python-selinux