# NOT USED NOW 
# SEE ssoconfigure task 
# Server properties, AM_ENC_KEY="" means generate random key
# todo: can SERVER_URL be localhost? We are using a LB site - so this should be OK
SERVER_URL=http://server1.{{openam_fqdn}}:8080
DEPLOYMENT_URI=/openam
BASE_DIR={{install_root}}/openam
locale=en_GB
PLATFORM_LOCALE=en_GB
# We set a known AM_ENC_KEY value in case we want additional servers in the cluster
# AM_ENC_KEY=""
AM_ENC_KEY=AQICY6Za5J5noktyqnhW10JiPVNUdKuiZYwS
ADMIN_PWD={{amadmin_password}}
AMLDAPUSERPASSWD={{amagentuser_password}}
COOKIE_DOMAIN={{openam_cookie_domain}}
 
# Embedded configuration data store
# Note the port numbers are chosen so they dont collide with the
# user data store instance
DATA_STORE=embedded
DIRECTORY_SSL=SIMPLE
DIRECTORY_SERVER=localhost
DIRECTORY_PORT={{openam_ldap_port}}
DIRECTORY_ADMIN_PORT={{openam_admin_port}}
DIRECTORY_JMX_PORT={{openam_jmx_port}}
ROOT_SUFFIX={{openam_config_root}}
DS_DIRMGRDN=cn=Directory Manager
DS_DIRMGRPASSWD={{amadmin_password}}
 
# External OpenDJ based user data store
USERSTORE_TYPE=LDAPv3ForAD
USERSTORE_SSL=SIMPLE 
USERSTORE_HOST={{ad_host}}
USERSTORE_PORT={{ad_port}}
USERSTORE_SUFFIX={{opendj_basedn}}
USERSTORE_MGRDN=cn=Administrator,cn=Users,dc={{env}},dc=canopy-cloud,dc=com
USERSTORE_PASSWD=D1g1talTul1p
 
# Uncomment to specify the site for the first server in a site configuration
LB_SITE_NAME=server1
LB_PRIMARY_URL={{openam_site_url}}
